{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AnnotationTool_test{% endblock %}

{% block logInOut_content %}

{% endblock %}
{% block userName %}
{% if userName %}{{ userName }}{% else %}{% endif %}
{% endblock %}

{% block page_content %}

	<script src="{{ url_for('static', filename='label.js') }}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='label.css') }}">
	<div class="page-header" align="center">
		<div id="picturearea" align="center">
			<h1 align="center">What is the activity in this picture?</h1>
    			<div id="picframe" align="center" style="width: 80%">
				<img id="pic" style="width: 100%; height: 100%">
			</div>
    			<h2 id="time" align="center"></h2><br>
			<div id="upper" class="row"></div>
			<div id="lower">
				<div class="choice long" value="Others" onclick="light(this)">
					<div class="floater"></div>
					<div id="word1" class="sword">Others</div>
				</div>
			</div>
			<div id="open">
				<div id="lastinner" class="innerchoice">
					<div id="form1" class="input-group input-group-lg">
						<input id="labelinput" type="text" class="form-control" placeholder="What's going on here...">
				    </div>
			   </div>
			</div>
			<div id="submit">
				<div id="innersubmit" class="long" value="Others" onclick="record()">
					<div class="floater"></div>
					<div id="word1" class="sword">Next</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		buildup();
                setpic("{{ pic }}",{{ idx }},{{ ttl }});	
	</script>

{% endblock %}
